@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;1,100;1,300&display=swap');
*{
    box-sizing: border-box;
}

body{
    width: min(100%, 1500px);
    background-color: #F9F7F7;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin: 0 auto;
}

/*  Encabezado  */
header{
    /* ¿Por qué no actua como fondo del encabezado */
    /* background-color:white; */
    height: 100px;
    display:flex;
}

header .encabezado{
    display:flex;
    /* Tamaño horizontal de la cabecera */
    width: 100%;
    /* guía para saber donde estan los botones */
    /* Fondo del encabezado */
    background-color: #112D4E;
}

header .encabezado_logo{
    padding-left: 50px;
}

header .encabezado_logo img{
    height: 100%;
}

nav{
    display: flex;
    /* Centra los botones */
    align-items: center;
}

nav ul{
    list-style-type: none;
    display: flex;
    margin: 0;
}

nav ul li{
    display: flex;
    /* background-color: #3F72AF; */
    flex: auto;
    /* Tamaño del area de los botones */
    /* (cambiar el color de fondo) */
    padding-inline-end: 40%;
    padding-block: 10px;
}

nav ul li a{
    color: white;
    text-decoration: none;
    text-align: center;
    font-family: Roboto;
}