@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;1,100;1,300&display=swap');

*{
    box-sizing: border-box;
}

body{
    /* width: ; */
    background-color: white;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin: 0 auto;
}

/*  Encabezado  */
header{
    background-color: #112D4E;
    height: 100px;
    display:flex;
}

header .encabezado{
    justify-content:center;
    display:flex;
    /* Tamaño horizontal de la cabecera */
    width: 100%;
    /* guía para saber donde estan los botones */
    /* Fondo del encabezado */
}

header .encabezado_logo{
    padding-left: 50px;
}

header .encabezado_logo img{
    height: 100%;
}

nav{
    display: flex;
    padding-left: 50px;
    /* Centra los botones verticalmente*/
    align-items: center;
}

header .encabezado nav ul{
    list-style-type: none; /* Quitar vinetas */
    display: flex;
    /* justify-content: space-around; */
    margin: 0;
    padding: 0;
    background-color: aqua;
}

nav ul li{
    display: flex;
    flex: auto;
    /* Tamaño del area de los botones */
    /* (cambiar el color de fondo) */
    padding: 10px;
}

nav ul li a{
    color: white;
    text-decoration: none;
    font-family: Roboto;
}

.mostrador{
    display: flex;
    flex-direction: row;
    flex-grow: 1;
    padding: 10px;
}

.mostrador main{
    width: 25%;
}