@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;1,100;1,300;1,400&display=swap');

*{
    box-sizing: border-box;
}

body{
    background-color: white;
    flex-direction: column;
    min-height: 100vh;
}


/* #region Header */
#cabecera{
    display: flex;
    flex-direction: row;
    max-width: 100%;
    height: 100px;
    justify-content: center;
    background-color: #112D4E;
}

#logotipo{
    height: 100%;
}

#enlaces-principales{
    display: flex;
    align-items: center;
}

#enlaces{
    display: flex;
    flex-flow: wrap;
    padding: 0;
    margin: 0;
}

#enlaces li{
    width: 150px;
    text-align: center;
}

#enlaces li a{
    color: white;
    font-family: 'Roboto';
    font-size: large;
    font-weight: 500;
}

.sombreado:hover{
    background-color:coral;
    padding: 10px;
    border-radius: 10px;
    text-decoration: none;
}
/* #endregion */

/* #region Generales */


ul{
    list-style: none;
}
/* #endregion */

/* #region mostrador */

#carouselExampleIndicators{
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

.mostrador{
    display: flex;
    flex-direction: row;
    margin-top: 10px;
}

.mostrador h3{
    text-align: center;
}

.mostrador aside{
    width: 300px;
    margin-left: 10px;
}

.mostrador aside nav{
    background-color:gainsboro;
}

.mostrador aside nav ul li{
    padding-right: 30px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.mostrador aside nav ul li a{
    color: black;
}
/* #endregion */